Django==1.11.10
django-json-field==0.5.7
django-model-utils==3.1.2
docutils==0.13.1
geodjango-tigerleaflet==0.2.1
geodjango-tigerline==1.1.0
geodjango-timezones==1.0
packaging==16.8
pypiwin32==219
python-dateutil==2.6.1
pytz==2017.3
requests==2.14.2
virtualenv==15.1.0
