appdirs==1.4.3
backports.functools-lru-cache==1.4
canvasvg==1.0.0
cycler==0.10.0
Django==1.11.10
django-json-field==0.5.7
django-model-utils==3.1.2
docutils==0.13.1
geodjango-tigerleaflet==0.2.1
geodjango-tigerline==1.1.0
geodjango-timezones==1.0
kivymd==0.1.2
lxml==4.1.1
oauthlib==2.1.0
packaging==16.8
pypiwin32==220
python-dateutil==2.6.1
pytz==2017.3
requests==2.14.2
six==1.10.0
urllib3==1.22
virtualenv==15.1.0
wx-sdk==1.0.5
wxPython==4.0.0b2
xlrd==1.1.0
